@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins'),
        url('../fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-display: swap;    
}